<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="field">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.360033160013126 1.15250796297344 1.78384195640625"
        rpy="0 0 0" />
      <mass
        value="1939.41229057176" />
      <inertia
        ixx="612.626632207246"
        ixy="-0.000844472719446231"
        ixz="0.0016602161577571"
        iyy="1525.36206604958"
        iyz="28.3730669156422"
        izz="987.837012401479" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>